@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />

<table class="table ">
    <thead>
        <tr>
            <td>Icon</td>
            <td>Class name</td>

        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td><i class="fas fa-eye"></i></td>
            <td>"fas fa-eye"</td>
        </tr>
        <tr>
            <td><i class="fas fa-envelope"></i></td> Envelope (Email)
            <td>"fas fa-envelope"</td>
        </tr>
        <tr>
            <td><i class="fas fa-folder-open"></i></td>
            <td>"fas fa-folder-open"</td>
        </tr>
        <tr>
            <td><i class="fas fa-folder"></i></td>
            <td>"fas fa-folder"</td>
        </tr>
        <tr>
            <td><i class="fas fa-calendar"></i></td>
            <td>"fas fa-calendar"</td>
        </tr>
        <tr>
            <td><i class="fas fa-clock"></i></td>
            <td>"fas fa-clock"</td>
        </tr>
        <tr>
            <td><i class="fas fa-cog"></i></td>
            <td>"fas fa-cog"</td>
        </tr>
        <tr>
            <td><i class="fas fa-heart"></i></td>
            <td>"fas fa-heart"</td>
        </tr>
        <tr>
            <td><i class="fas fa-shopping-cart"></i></td>
            <td>"fas fa-shopping-cart"</td>
        </tr>
        <tr>
            <td><i class="fas fa-bell"></i></td> (Notification)
            <td>"fas fa-bell"</td>
        </tr>
        <tr>
            <td><i class="fas fa-arrow-left"></i></td>
            <td>"fas fa-arrow-left"</td>
        </tr>
        <tr>
            <td><i class="fas fa-arrow-right"></i></td>
            <td>"fas fa-arrow-right"</td>
        </tr>
        <tr>
            <td><i class="fas fa-arrow-down"></i></td>
            <td>"fas fa-arrow-down"</td>
        </tr>
        <tr>
            <td><i class="fas fa-arrow-up"></i></td>
            <td>"fas fa-arrow-up"</td>
        </tr>
        <tr>
            <td><i class="fas fa-upload"></i></td>
            <td>"fas fa-upload"</td>
        </tr>
        <tr>
            <td><i class="fas fa-edit"></i></td>
            <td>"fas fa-edit"</td>
        </tr>
        <tr>
            <td><i class="fas fa-download"></i></td>
            <td>"fas fa-download"</td>
        </tr>
        <tr>
            <td><i class="fas fa-unlock"></i></td>
            <td>"fas fa-unlock"</td>
        </tr>
        <tr>
            <td><i class="fas fa-lock"></i></td>
            <td>"fas fa-lock"</td>
        </tr>
        <tr>
            <td><i class="fas fa-user"></i></td>
            <td>"fas fa-user"</td>
        </tr>
        <tr>
            <td><i class="fas fa-home"></i></td>
            <td>"fas fa-home"</td>
        </tr>
        <tr>
            <td><i class="fas fa-search"></i></td>
            <td>"fas fa-search"</td>
        </tr>
        <tr>
            <td><i class="fas fa-exclamation"></i></td>
            <td>"fas fa-exclamation"</td>
        </tr>
        <tr>
            <td><i class="fas fa-info-circle"></i></td>
            <td>"fas fa-info-circle"</td>
        </tr>
        <tr>
            <td><i class="fas fa-times"></i></td>
            <td>"fas fa-times"</td>
        <tr>
            <td><i class="fas fa-check"></i></td>
            <td>"fas fa-check"</td>
        </tr>
        <tr>
            <td><i class="fas fa-save"></i></td>
            <td>"fas fa-save"</td>
        </tr>
        <tr>
            <td><i class="fas fa-plus"></i></td>
            <td>"fas fa-plus"</td>
        </tr>
        <tr>
            <td><i class="fas fa-trash"></i></td>
            <td>"fas fa-trash"</td>
        </tr>

        <tr>
            <td><i class="fas fa-pencil-alt"></i></td>
            <td>"fas fa-pencil-alt"</td>
        </tr>


        

   
        
        
       
       
        
      
    
      
      

      
     
       
        
    </tbody>
</table>
