
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Check Your InBox</h1>


<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="body">
			<div> 
				Password Reset Link Has Been Send To Your Email. Please Check Your Inbox :)
			</div>
			<div>
				<a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
			</div>

		</div>

	</div>
</div>
@section SectionrenderingCSV{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

