@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="SendEmail" method="post">
			<div asp-validation-summary="All"> </div>
			
			<input class="text email" asp-for="Email" placeholder="E-Mail" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
		
			<input type="submit" value="Send Email">
		</form>
		
	</div>
</div>
@section SectionrenderingCSV{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}


