@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="ResetPassword" method="post">
			<div asp-validation-summary="All"> </div>
			
			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			
			<input type="submit" value="Change">
		</form>
		
	</div>
</div>
@section SectionrenderingCSV{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
