@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>
    Details of @Model.UserName User
</h1>

<br />
<br />
<div>
    <div class="form-group">
        <label class="col-form-label" asp-for="FName"></label>
        <input class="form-control" asp-for="FName" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="LName"></label>
        <input class="form-control" asp-for="LName" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Roles"></label>
        <input class="form-control" asp-for="Roles" readonly />
    </div>


    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id"><i class="fas fa-edit"></i> Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back To List <i class="fas fa-arrow-right"></i></a>
</div>
